{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template   core/loginform
    @author     2022 Juan Felipe Orozco Escobar <juanfe.ores@gmail.com>

    Overriden loginform template for mooveuv theme.

    Context variables required for this template:
    * autofocusform             Auto focus on form
    * canloginasguest           Is guest login allowed
    * canloginbyemail           Is login by email allowed
    * cansignup                 Is signup allowed
    * cookieshelpicon           Cookies help icon details
    * error                     Any errors in the form
    * forgotpasswordurl         Forgot password URL
    * hasidentityproviders      Set to true to hide identity providers
    * hasinstructions           Set to true to show login instructions
    * identityproviders         List of identiy providers
    * instructions              Login instructions
    * instructionsformat        Format of instructions
    * loginurl                  Login URL
    * signupurl                 Signup URL
    * username                  User name to pre-fill the form with
    * logintoken                Random token to protect login request
    * maintenance               Maintenance message
    * languagemenu              Language selector menu
    * errorformatted            Formatted error
    * logourl                   Logo URL
    * sitename                  Moodle site name

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "https://path/to/moodle/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "https://path/to/moodle/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "https://path/to/moodle/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "https://path/to/moodle/login/index.php",
        "signupurl": "https://path/to/moodle/login/signup.php",
        "username" "User Name",
        "logintoken": "3gPcjyqtHYuMBEzb8Mz2ThB1GzOCb5Dl",
        "maintenance": "For full access to this site, you need to login in as an admin.",
        "languagemenu": "Choose language"
        "errorformatted": "",
        "logourl": "https://path/to/moodle/pluginfile.php/1/theme_moove/logo/-1/logo.png",
        "sitename": "Campus Virtual",
    }
}}

<div class="loginform row {{#hastwocolumns}}hastwocolumns{{/hastwocolumns}}">
    <div class="{{#hastwocolumns}}col-lg-6 col-md-12 left-column{{/hastwocolumns}}{{^hastwocolumns}}col-12{{/hastwocolumns}}">
        {{#logourl}}
            <div id="loginlogo" class="login-logo">
                <img id="logoimage" class="img-thumbnail" alt="{{sitename}}"/>
                <h1 class="login-heading sr-only">{{#str}} loginto, core, {{sitename}} {{/str}}</h1>
            </div>
        {{/logourl}}
        {{#error}}
            <a href="#" id="loginerrormessage" class="sr-only">{{error}}</a>
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/error}}

        <form class="login-form" action="{{loginurl}}" method="post" id="login">
            <input type="hidden" name="logintoken" value="{{logintoken}}">
            <div class="login-form-username form-group">
                <label for="username" class="sr-only">
                    {{^canloginbyemail}}
                        {{#str}} username {{/str}}
                    {{/canloginbyemail}}
                    {{#canloginbyemail}}
                        {{#str}} usernameemail {{/str}}
                    {{/canloginbyemail}}
                </label>
                <input type="text" name="username" id="username" {{!
                !}}class="form-control form-control-lg" {{!
                !}}value="{{username}}" {{!
                !}}placeholder="{{^canloginbyemail}}{{#cleanstr}}username{{/cleanstr}}{{/canloginbyemail}}{{!
                !}}{{#canloginbyemail}}{{#cleanstr}}usernameemail{{/cleanstr}}{{/canloginbyemail}}" {{!
                !}}autocomplete="username">
            </div>
            <div class="login-form-password form-group">
                <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
                <input type="password" name="password" id="password" value="" {{!
                !}}class="form-control form-control-lg" {{!
                !}}placeholder="{{#cleanstr}}password{{/cleanstr}}" {{!
                !}}autocomplete="current-password">
            </div>
            <div class="login-form-submit form-group">
                <button class="btn btn-primary btn-block btn-lg" type="submit" id="loginbtn">{{#str}}login{{/str}}</button>
            </div>
            <div class="login-form-forgotpassword form-group text-center">
                <a href="{{forgotpasswordurl}}">{{#str}}forgotaccount{{/str}}</a>
            </div>
        </form>
        {{#canloginasguest}}
            <form action="{{loginurl}}" method="post" id="guestlogin">
                <input type="hidden" name="logintoken" value="{{logintoken}}">
                <input type="hidden" name="username" value="guest" />
                <input type="hidden" name="password" value="guest" />
                <button class="btn btn-secondary btn-block" type="submit">{{#str}}loginguest{{/str}}</button>
            </form>
        {{/canloginasguest}}
        <div class="d-flex mt-2">
            {{#languagemenu}}
                <div class="login-languagemenu">
                    {{>core/action_menu}}
                </div>
            {{/languagemenu}}
            <button type="button" class="ml-auto btn btn-link" {{!
            }} data-modal="alert"{{!
            }} data-modal-title-str='["cookiesenabled", "core"]' {{!
            }} data-modal-content-str='["cookiesenabled_help_html", "core"]'{{!
            }}><i class="fa fa-question-circle"></i> {{#str}}cookiesnotice{{/str}}</button>
        </div>
    </div>
</div>

{{#js}}
    {{^error}}
        {{#autofocusform}}
            var userNameField = document.getElementById('username');
            if (userNameField.value.length == 0) {
                userNameField.focus();
            } else {
                document.getElementById('password').focus();
            }
        {{/autofocusform}}
    {{/error}}
    {{#error}}
        document.getElementById('loginerrormessage').focus();
    {{/error}}
{{/js}}
