{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template   theme_mooveuv/frontpage
    @author     2022 Iader E. Garcia Gomez <iadergg@gmail.com>

    Overriden frontpage template for mooveuv theme.

    Context variables required for this template:
    * sitename                      Moodle site name
    * output                        The core renderer for the page
    * bodyattributes                Attributes for the body tag as a string of html attributes
    * sidepreblocks                 HTML for the blocks
    * hasblocks                     True if there are blocks on this page
    * courseindexopen               True if the nav drawer should be open on page load
    * regionmainsettingsmenu        HTML for the region main settings menu
    * hasregionmainsettingsmenu     There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "courseindexopen": true,
        "navdraweropen": false,
        "blockdraweropen": true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false,
        "addblockbutton": ""
    }
}}

{{> theme_moove/head }}

<body {{{ bodyattributes }}}>
    {{> core/local/toast/wrapper}}
    <div id="page-wrapper" class="d-print-block bg-for-campus-historia">

        {{{ output.standard_top_of_body_html }}}

        {{> theme_moove/navbar }}

        <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers drag-container mooveuv-frontpage">

        {{! Front page slider }}
        <div id="mooveuvslideshow" class="mooveuv-container-fluid">
            <div id="frontpage-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {{#slides}}
                        <li data-target="#frontpage-carousel" data-slide-to="{{ key }}" {{#active}} class="active" {{/active}}></li>
                    {{/slides}}
                </ol>
                <div class="carousel-inner" role="listbox">
                    {{#slides}}
                    <div class="carousel-item {{#active}}active{{/active}}">
                        <a href="{{ sliderurl }}" target="_blank">
                            <img class="d-block img-fluid w-100" src="{{ image }}" alt="{{ alt }}">
                        </a>
                    </div>
                    {{/slides}}
                </div>
                <a class="carousel-control-prev" href="#frontpage-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{#str}}previous{{/str}}</span>
                </a>
                <a class="carousel-control-next" href="#frontpage-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{#str}}next{{/str}}</span>
                </a>
            </div>
        </div>

        {{! Information }}
        <div id="information-section" class="container-fluid frontpage-section justify-content-center">
            <div id="row-sectioninfo-cards" class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">

                <div class="card sectioninfo-card">
                    <div class="card-header">
                        <h2>{{#str}} customer_service_title, theme_mooveuv {{/str}}</h2>
                    </div>
                    <div class="card-body">
                        <div class="container pl-0 pr-0">
                            {{#customer_service}}
                            <div class="row">
                                <div class="col-12">
                                    <p class="mb-0">
                                        <img src="{{{email_icon}}}" width="20" height="20"></img> 
                                        <a href=mailto:{{mail}}>{{mail}}</a>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <p class="mt-3">
                                        <img src="{{{phone_icon}}}" width="20" height="20"></img> {{mobile}}
                                    </p>
                                </div>
                            </div>

                            {{#enable_text_about_customer_service}}
                                {{#text_about_customer_service}}
                                    {{text_about_customer_service}}
                                {{/text_about_customer_service}}

                            {{/enable_text_about_customer_service}}
                            {{^enable_text_about_customer_service}}
                            <div class="row">
                                <div class="col-12">
                                    <p id="business-hours" class="font-weight-bold pt-4 pb-3">
                                        <img src="{{{clock_icon}}}" width="20" height="20"></img> {{#str}} business_hours, theme_mooveuv {{/str}}
                                    </p>
                                </div>
                            </div>

                            <div class="container">

                                <div class="row">
                                    <div class="col-3 col-xl-4 div-business-days">
                                        <p class="font-weight-bold">{{#str}} monday, theme_mooveuv {{/str}}</p>
                                    </div>
                                    <div class="col-9 col-xl-8 div-business-hours">
                                        <p>{{monday_office_hours}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3 col-xl-4 div-business-days">
                                        <p class="font-weight-bold">{{#str}} tuesday, theme_mooveuv {{/str}}</p>
                                    </div>
                                    <div class="col-9 col-xl-8 div-business-hours">
                                        <p>{{tuesday_office_hours}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3 col-xl-4 div-business-days">
                                        <p class="font-weight-bold">{{#str}} wednesday, theme_mooveuv {{/str}}</p>
                                    </div>
                                    <div class="col-9 col-xl-8 div-business-hours">
                                        <p>{{wednesday_office_hours}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3 col-xl-4 div-business-days">
                                        <p class="font-weight-bold">{{#str}} thursday, theme_mooveuv {{/str}}</p>
                                    </div>
                                    <div class="col-9 col-xl-8 div-business-hours">
                                        <p>{{thursday_office_hours}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3 col-xl-4 div-business-days">
                                        <p class="font-weight-bold">{{#str}} friday, theme_mooveuv {{/str}}</p>
                                    </div>
                                    <div class="col-9 col-xl-8 div-business-hours">
                                        <p>{{friday_office_hours}}</p>
                                    </div>
                                </div>

                            </div>
                            {{/enable_text_about_customer_service}}

                            {{/customer_service}}
                        </div>
                    </div>
                </div>

                <div class="card sectioninfo-card">
                    <div class="card-header">
                        <h2>{{#str}} quick_help_title, theme_mooveuv {{/str}}</h2>
                    </div>
                    <div class="card-body quick-help-card-body">
                        <ul id="ul-quick-help">
                            {{#quick_help}}
                            <li><a href="{{url}}" target="_blank">{{name}}</a></li>
                            {{/quick_help}}
                        </ul>
                    </div>
                </div>

                <div class="card sectioninfo-card ">
                    <div class="card-header">
                        <h2>{{#str}} topics_of_interest_title, theme_mooveuv {{/str}}</h2>
                    </div>
                    <div class="card-body topics-of-interest-card-body">
                        <ul id="ul-topics-of-interest">
                            {{#topics_of_interest}}
                            <li><a href="{{url}}" target="_blank">{{name}}</a></li>
                            {{/topics_of_interest}}
                    </div>
                </div>
            </div>
        </div>

        {{! Open courses }}
        <div id="open-courses-section" class="container-fluid frontpage-section">
            {{{ output.main_content }}}
        </div>

        {{! Institutional licensed software}}
        <div id="institutional-licensed-software-section" class="container-fluid frontpage-section mb">
            <div class="row pt-5 pb-5">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6
                            offset-xs-0 offset-sm-0 offset-md-2 offset-lg-3 offset-xl-3">
                    <h2 class="text-center mb-0">{{#str}} institutional_licensed_software_title, theme_mooveuv{{/str}}</h2>
                    <hr>
                    <h3 class="text-center">{{#str}} institutional_licensed_software_subtitle, theme_mooveuv{{/str}}</h3>
                </div>
            </div>
            <div class="row text-center">
                {{#software_licenses}}
                <div class="col
                            {{#is_first}} offset-xs-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-1 {{/is_first}}
                            licensed-software-image">
                    <a href="{{url}}" target="_blank"><img src="{{image}}" alt="{{imagealt}}"></a>
                </div>
                {{/software_licenses}}
            </div>
        </div>

        {{> theme_moove/footer }}
    </div>
    {{{ output.standard_after_main_region_html }}}
    </div>
</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
