{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template   theme_mooveuv/mydashboard_regular_user
    @author     2022 Juan Felipe Orozco Escobar <juanfe.ores@gmail.com>

    The purpose of this template is to render the regular user dashboard for mooveuv theme.

    Context variables required for this template:
    * none

    Example context (json): {}
}}

<div class="mydashboard-regular-user mb-3">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-lg-4 col-xl-2 p-2">
                <a href="https://biblioteca.univalle.edu.co/" target="_blank">
                    <div class="card bg-1">
                        <div class="card-body">
                            <p>{{#str}} dashboard_regularuser_library, theme_mooveuv {{/str}}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-2 p-2">
                <a href="https://www.univalle.edu.co/index.php/correo-electronico-institucional" target="_blank">
                    <div class="card bg-2">
                        <div class="card-body">
                            <p>{{#str}} dashboard_regularuser_email, theme_mooveuv {{/str}}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-2 p-2">
                <a href="https://registro.univalle.edu.co/normativas" target="_blank">
                    <div class="card bg-3">
                        <div class="card-body">
                            <p>{{#str}} dashboard_regularuser_regulations, theme_mooveuv {{/str}}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-2 p-2">
                <a href="https://svtie.univalle.edu.co/" target="_blank">
                    <div class="card bg-4">
                        <div class="card-body">
                            <p>{{#str}} dashboard_regularuser_techtoolbox, theme_mooveuv {{/str}}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-2 p-2">
                <a href="https://vicebienestar.univalle.edu.co/" target="_blank">
                    <div class="card bg-5">
                        <div class="card-body">
                            <p>{{#str}} dashboard_regularuser_affairdivision, theme_mooveuv {{/str}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
