.footer-cv {
    background-color: $brand-primary;
    h4, h5, a, div {
        color: white;
    }
    a:focus {
        background-color: transparent;
        box-shadow: none;
        color: white;
        outline: none;
    }
    .container-fluid {
        max-width: 100%;
    }
    .privacy-policies {
        text-align: right;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .social-media-icons {
        padding-left: 15px;
        font-size: 2.5em;
    }
    .row.justify-content-end {
        margin-right: 0px;
    }
}
