h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: $heading-secondary-color;
}

h3 {
    font-size: 1.2em;
    font-weight: 400;
    color: #6a6c6c;
}

.mooveuv-container-fluid,
.container-fluid {
    width: 100%;
}
